.create-trip {
    .ant-form-vertical {
        width: 100%;
        padding: 15px 30px 15px 30px
    }
}

.card-swap {
    .ant-card-head {
        padding-left: 0px;
    }

    .ant-card-body {
        padding: unset !important;
    }

    .ant-card-head-title {
        padding: unset;
        flex: unset;
    }

    .ant-card-extra {
        float: left !important;
        margin-left: 20px;
    }

    .spot-time {
        font-size: 14px;
        color: #3897f1;
        border-bottom: 1px dotted #3897f1;
        padding-left: 5px;
    }

    .ant-form-item {
        margin-bottom: unset;
    }
}

.card-component {
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 8px;
    transition: background-color 0.2s ease;
}

.to-next-item {
    border-left: solid 2.5px #3897f1;
    height: 70px;
    margin-left: 10px;
    position: relative;
}

.travel-info {
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    position: absolute;
    margin-left: -10px;
    display: flex;
    align-items: center;
    background-color: white;

    img {
        width: 17px;
        height: 12px;
        margin-right: 5px;
    }
}

.ant-time-picker-input {
    height: 25px;
}